@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 241, 245, 249;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 241, 245, 249;
    --background-start-rgb: 2, 6, 23;
    --background-end-rgb: 15, 23, 42;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer base {
  * {
    @apply border-slate-200 dark:border-slate-800;
  }
  body {
    @apply bg-slate-50 dark:bg-slate-950 text-slate-900 dark:text-slate-100;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
